/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/uploads/*.png
/public/uploads/*.jpg
/public/uploads/*.webp
/public/storage
/public/perfiles/*
/storage/*.key
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
